
body{
    width: 1440px;
    height: 714px;
    margin: 0;
    background-color: black;
    display: flex;
}

.block-header{
    width: 1440px;
    height: auto;
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.header-nav{
    display: flex;
}
.nav-bar-logo{
    display: flex;
}
.zocom-logo{
    display: flex;
}

.header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-bar-buttons{
    display: flex;
}.nav-bar-quote{
    
}
.header-app-stores-buttons{
    display: flex;
}
.app-store-button, .google-play-button{
    width: 134px;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    display: flex;
    color: white;
    background-color: black;
    border-radius: 10%;
}
/* .google-play-button{
    display: flex;
    color: white;
    background-color: black;
} */

.store-image{
    width: 19.41px;
    height: 25.38px;
}
.img-phone{
    width: 372px;
    height: 338px;
}
.our-products{
    width: 100%;
    height: 100%;
    background-color: white;
    margin: 0;
    text-align: center;
}